.category {
    align-items: center;
}

.comment {
    align-items: center;
    alignment: center;

    justify-content: space-around;
}

.date {
    align-items: center;
}

.amount {
    align-items: center;

}